node-linker=hoisted
shamefully-hoist=true
strict-peer-dependencies=false

# 开源版本使用 npm 默认 registry，如需使用私有源请替换 __URL_PLACEHOLDER__ 为你的 registry 地址
registry=https://registry.npmjs.org/
disturl=https://npm.taobao.org/mirrors/node
electron_mirror=https://npmmirror.com/mirrors/electron/
